body {
  padding-top: 4.2rem !important;
  background-color: #f5f2f5 !important;
  font-family: 'Nunito', sans-serifn !important;

}

body {
  background-color: #3566ca;
}

form.card {
  border-radius: 1rem;
  background-color: #ffffff;
}

form.card h4 {
  font-weight: bold;
  color: #333; 
}
