body {
  padding-top: 4.2rem !important;
  background-color: #c846c8 !important;
  font-family: 'Nunito', sans-serifn !important;

}

body {
  background-color: #f7f8fa;
}

form.card {
  border-radius: 1rem;
  background-color: #ffffff;
}

form.card h4 {
  font-weight: bold;
  color: #333;
}
